@model Prosegur.LV.SOL.Dashboard.UI.Web.Models.ProgrammationFilterViewModel

@{
    string viewName = Html.ViewData["ViewName"].ToString();
    string objectIdsFormat = viewName + "_{0}";
}

<div class="card">
    <div class="card-body collapse show" id="@string.Format(objectIdsFormat, "dashBoardBody")">

        <div id="@string.Format(objectIdsFormat, "chart")"></div>

    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="@string.Format(objectIdsFormat, "modalFilters")">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form id="@string.Format(objectIdsFormat, "formFilters")">
                    <div class="form-group">
                        @Html.LabelFor(f => f.ProgrammationDate, new { @class = "col-form-label" })
                        @Html.TextBoxFor(f => f.ProgrammationDate, new { @class = "form-control datepicker" })
                        @Html.ValidationMessageFor(f => f.ProgrammationDate)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(f => f.Delegations, new { @class = "col-form-label" })
                        @Html.DropDownListFor(f => f.DelegationCodes, Model.Delegations, new { multiple = "multiple", @class = "form-control" })
                        @Html.ValidationMessageFor(f => f.DelegationCodes)
                    </div>

                    <input type="hidden" name="__prefix" value="@ViewData.TemplateInfo.HtmlFieldPrefix" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-target="#@string.Format(objectIdsFormat, "modalFilters")" id="@string.Format(objectIdsFormat, "acceptFilter")">Aceptar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div id="@string.Format(objectIdsFormat, "intervalContainer")"></div>

<div class="modal fade" id="@string.Format(objectIdsFormat, "modalDetails")" tabindex="-1" role="dialog" aria-hidden="true"></div>

<input type="hidden" id="@string.Format(objectIdsFormat, "messageIdsWithErrors")" value="" />
<input type="hidden" id="@string.Format(objectIdsFormat, "sigIIProgrammationPendings")" value="" />

<script type="text/javascript">

    $(function () {

        var pieChartProgrammedStatesSummary;
        var chartData;

        var refreshTimeSecondsInterval = @Prosegur.LV.SOL.Dashboard.Core.Configuracion.RefrescoAutomaticoSegundos;
        var nextRefreshSeconds;
        var loadingMessage = 'Procesando datos...'

        var labelError;
        var labelWarning;

        var $intervalContainer = $('#@string.Format(objectIdsFormat, "intervalContainer")');

        $("#@Html.IdFor(f => f.ProgrammationDate)")
            // Limitado a 5 dias hacia atras
            .datepicker({ dateFormat: "dd/mm/yy", minDate: -5 })
            .datepicker("setDate", new Date());

        var gettingProgrammedStates = false;

        var refreshButton;

        var automaticRefreshSet = false;

        var pieChartProgrammedStatesSummary = Highcharts.chart('@string.Format(objectIdsFormat, "chart")', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie',
                height: '70%'
            },
            title: { text: '@Html.Raw(ViewData["ChartTitle"].ToString())' },
            credits: {
                enabled: false
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: false,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false,
                    },
                }
            },
            legend: {
                enabled: false,
            },
            exporting: {
                menuItemDefinitions: {
                    parameters: {
                        onclick: function () {
                            $('#@string.Format(objectIdsFormat, "modalFilters")').modal('show');
                        },
                        text: 'Parametros'
                    },
                    autoRefresh: {
                        onclick: function () {

                            if (chartData !== undefined && chartData.length > 0) {

                                nextRefreshSeconds = refreshTimeSecondsInterval;

                                automaticRefreshSet = true;

                                AddRefreshButton();

                                RefreshAction();

                                pieChartProgrammedStatesSummary.update({
                                    exporting: {
                                        enabled: false
                                    }
                                });

                            }
                        },
                        text: 'Refresco Automatico'
                    }
                },
                buttons: {
                    contextButton: {
                        menuItems: ['parameters', 'autoRefresh']
                    }
                }
            },
            series: [{
                name: 'Integracion',
                colorByPoint: true,
                point: {
                    events: {
                        click: function () {

                            if (this.statusCode == 24) {

                                var $modalDetails = $('#@string.Format(objectIdsFormat, "modalDetails")');

                                var $inputHiddenMessageIdsWithErrors = $('#@string.Format(objectIdsFormat, "messageIdsWithErrors")');
                                var $inputHiddenSigIIProgrammationPendings = $('#@string.Format(objectIdsFormat, "sigIIProgrammationPendings")');

                                var dataToPost = new Object();

                                if ($inputHiddenMessageIdsWithErrors.val() != '') {
                                    dataToPost.errorJmsIds = $inputHiddenMessageIdsWithErrors.val().split(',');
                                }

                                if ($inputHiddenSigIIProgrammationPendings.val() != '') {
                                    dataToPost.sigIIProgrammationPendings = $inputHiddenSigIIProgrammationPendings.val().split(',');
                                }

                                dataToPost.programmationDate = $('#@Html.IdFor(f => f.ProgrammationDate)').val();

                                $.ajax({
                                    type: "POST",
                                    url: '@Url.Action("ProgrammationPerRouteErrorDetails", "Integration")',
                                    traditional: true,
                                    data: dataToPost,
                                    success: function (response, textStatus, jqXHR) {

                                        if (response.result) {

                                            $modalDetails.html(response.data);
                                            $modalDetails.modal('show');

                                        }
                                        else {

                                            labelError = pieChartProgrammedStatesSummary.addChartLabel('error', response.data);

                                        }
                                    },
                                    beforeSend: function (jqXHR, settings) {

                                        if (labelError !== undefined) {
                                            labelError.destroy();
                                        }
                                    },
                                    error: function (jqXHR, textStatus, errorThrown) {

                                        if (jqXHR.status != 401) {

                                            pieChartProgrammedStatesSummary.hideLoading();

                                            labelError = pieChartProgrammedStatesSummary.addChartLabel('error', errorThrown);
                                        }
                                    }
                                });
                            }
                        }
                    }
                }
            }]
        });

        function UpdateProgrammedStatesSummary() {

            var subTitle = '';
            $('#@Html.IdFor(f => f.DelegationCodes)').find(":selected").each(function (idx, value) {
                subTitle += (idx > 0 ? ", " : " ") + $(value).text();
            });

            pieChartProgrammedStatesSummary.setTitle({ text: '@Html.Raw(ViewData["ChartTitle"].ToString())' }, { text: subTitle + ' - ' + $('#@Html.IdFor(f => f.ProgrammationDate)').val() }, true);

            var dataToPost = $('#@string.Format(objectIdsFormat, "formFilters")').serialize()

            $.ajax({
                type: "POST",
                url: '@Url.Action(ViewContext.RouteData.Values["action"].ToString(), "Integration")',
                data: dataToPost,
                beforeSend: function (jqXHR, settings) {

                    pieChartProgrammedStatesSummary.series[0].setData([]);

                    if (labelError !== undefined) {
                        labelError.destroy();
                        labelError = undefined;
                    }

                    if (labelWarning !== undefined) {
                        labelWarning.destroy();
                        labelWarning = undefined;
                    }

                    if (chartData === undefined || chartData.length == 0) {
                        pieChartProgrammedStatesSummary.showLoading(loadingMessage);
                    }                    

                },
                complete: function () {

                    gettingProgrammedStates = false;

                }
            })
            .then(function (response, textStatus, jqXHR) {

                pieChartProgrammedStatesSummary.hideLoading();

                if (response.result) {

                    var jsonData = JSON.parse(response["data"]);

                    var programmationStatesSummary = jsonData.ProgrammationStatesSummary;

                    var stateErrorDescription = '';
                    var stateErrorQuantity = 0;

                    var data;

                    chartData = [];

                    for (var key in programmationStatesSummary) {
                        if (programmationStatesSummary.hasOwnProperty(key)) {
                            var programmedState = programmationStatesSummary[key];

                            // #ff0000 RED
                            // #ffff00 YELLOW
                            // #008B00 GREEN
                            // #0000FF BLUE
                            if (programmedState.Quantity > 0) {

                                if (programmedState.ProgrammationState.Code == 2 || programmedState.ProgrammationState.Code == 4) {

                                    stateErrorQuantity += programmedState.Quantity;
                                    stateErrorDescription += (stateErrorDescription == '' ?
                                                                programmedState.ProgrammationState.Description
                                                                :
                                                                "/" + programmedState.ProgrammationState.Description);

                                    data = {
                                        "name": stateErrorDescription,
                                        "y": stateErrorQuantity,
                                    }

                                }
                                else {

                                    var color;

                                    if (programmedState.ProgrammationState.Code == '0') {
                                        color = '#0000FF';
                                    }
                                    if (programmedState.ProgrammationState.Code == '1') {
                                        color = '#ffff00';
                                    }
                                    if (programmedState.ProgrammationState.Code == '3') {
                                        color = '#008B00';
                                    }

                                    chartData.push(
                                    {
                                        "name": programmedState.ProgrammationState.Description,
                                        "y": programmedState.Quantity,
                                        "statusCode": programmedState.ProgrammationState.Code,
                                        "color": color
                                    });
                                }
                            }
                        }
                    }

                    // Add State 2 & 4 into One
                    if (data !== undefined) {

                        data.statusCode = 24;
                        data.color = '#ff0000';

                        chartData.push(data);
                    }

                    // Add messages Ids with error
                    var $inputHidden = $('#@string.Format(objectIdsFormat, "messageIdsWithErrors")');

                    $inputHidden.val('');
                    for (var jmsId in jsonData.ErrorMessagesId) {
                        $inputHidden.val($inputHidden.val() + ($inputHidden.val() == '' ? '' : ',') + jsonData.ErrorMessagesId[jmsId]);
                    }

                    var $inputHiddenDelegations = $('#@string.Format(objectIdsFormat, "sigIIProgrammationPendings")');

                    $inputHiddenDelegations.val('');
                    for (var delegation in jsonData.SigIIProgrammationPendings) {
                        $inputHiddenDelegations.val($inputHiddenDelegations.val() + ($inputHiddenDelegations.val() == '' ? '' : ',')
                            + jsonData.SigIIProgrammationPendings[delegation]);
                    }

                    if (chartData !== undefined && chartData.length > 0) {

                        pieChartProgrammedStatesSummary.series[0].setData(chartData);

                        if (automaticRefreshSet) {
                            AddRefreshButton();
                        }

                    }
                    else {

                        labelWarning = pieChartProgrammedStatesSummary.addChartLabel('warning', 'No hay datos');

                        return $.Deferred().reject(jqXHR, textStatus, 'NO DATA').promise();

                    }
                }
                else {

                    return $.Deferred().reject(jqXHR, textStatus, response.data).promise();

                }
            })
            .fail(function (jqXHR, textStatus, errorThrown) {

                if (jqXHR.status != 401) {

                    if (errorThrown != 'NO DATA') {

                        chartData = [];

                        pieChartProgrammedStatesSummary.hideLoading();

                        labelError = pieChartProgrammedStatesSummary.addChartLabel('error', errorThrown);

                    }

                    if (automaticRefreshSet) {

                        ClearInterval();

                        pieChartProgrammedStatesSummary.update({
                            exporting: {
                                enabled: true
                            }
                        });
                    }

                }

            }); 

        }

        $("#@string.Format(objectIdsFormat, "acceptFilter")").click(function (e) {
            
            if ($('#@string.Format(objectIdsFormat, "formFilters")').valid()) {

                $('#@string.Format(objectIdsFormat, "modalFilters")').modal('hide');
                
                UpdateProgrammedStatesSummary();
            }
        });

        function ClearInterval() {

            automaticRefreshSet = false;

            var interval = $intervalContainer.data('activeInterval');

            clearInterval(interval);

            $intervalContainer.removeData('activeInterval');
        }

        function AddRefreshButton() {

            refreshButton = pieChartProgrammedStatesSummary.renderer.button(refreshTimeSecondsInterval + 'ˮ', undefined, undefined, function () {

                ClearInterval();

                pieChartProgrammedStatesSummary.update({
                    exporting: {
                        enabled: true
                    }
                });

                if (refreshButton.element !== undefined) {
                    refreshButton.destroy();
                }

            }).add();

            var textX = pieChartProgrammedStatesSummary.plotWidth;
            var textY = pieChartProgrammedStatesSummary.plotTop;

            textX = textX - refreshButton.getBBox().width - pieChartProgrammedStatesSummary.plotLeft - 20;

            refreshButton.align({ x: textX, y: textY });

        }

        function RefreshAction() {

            var interval = $intervalContainer.data('activeInterval');
            
            interval = setInterval(function () {

                if (nextRefreshSeconds > 0 && !gettingProgrammedStates) {

                    nextRefreshSeconds--;

                    refreshButton.attr('text', nextRefreshSeconds + "ˮ");

                }

                if (nextRefreshSeconds == 0) {

                    nextRefreshSeconds = refreshTimeSecondsInterval;

                    if (refreshButton.element !== undefined) {
                        refreshButton.destroy();
                    }

                    if (!gettingProgrammedStates) {
                        gettingProgrammedStates = true;
                        UpdateProgrammedStatesSummary();
                    }

                }
                                
            }, 1000);

            $intervalContainer.data('activeInterval', interval);
        }
    });

</script>